.massage {
    background-color: #edf5e1;
    border: 1px solid #bfd49e;
    width: 80vw;
    margin: auto auto;
    box-sizing: border-box;
    padding: 1rem;
}

.deletebtn {
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    color: rgb(214, 49, 49);
    float: right;
    font-size: 1.7rem;
    margin-right: 1rem;
    cursor: pointer;
}

.deletebtn:hover {
    color: red;
}

.starter {
    background-color: rgb(255, 0, 0);
    font-size: 1rem;
    padding: .5rem;
    border-radius: 20rem;
    margin: 1rem;
    cursor: pointer;
}