.background {
    background-color: #db2818;
    transition: all .05s;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.section-right {
    background-color: #f2f6ff;
    height: 48rem;
    margin: 3rem;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 1.4rem;

}

.section-right-scroll {
    overflow-y: scroll;
    height: 85%;
    padding: 2rem;
    border-top: 2px solid rgb(212, 212, 212);
}

.img {
    width: 5.5rem;
    float: right;
}

.buyingCard {
    border-radius: 1rem;
    box-sizing: border-box;
    text-align: right;
    min-width: 20rem;
}

.btn {
    height: 2rem;
    box-sizing: border-box;
}

.counter {
    vertical-align: middle;
}

.btnRemove,
.btnAdd {
    background-color: #9e0b16;
    color: white;
    font-size: 1.3rem;
    border: none;
    vertical-align: middle;
    transition: all .2s;
    width: 2rem;
}

.btnRemove:hover,
.btnAdd:hover {
    background-color: #ff1928;
    transition: all .2s;
}

.btnRemove {
    border-radius: .7rem 0 0 .7rem;
}

.btnAdd {
    border-radius: 0 .7rem .7rem 0;
}

.section-left {
    background-color: #f2f6ff;
    height: 25rem;
    width: 25rem;
    margin-top: 3rem;
    overflow: hidden;
    border-radius: 1.4rem;
}


.bg-red {
    background-color: #9e0b16;
    color: white;
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
}

.button {
    cursor: pointer;
}

.button:hover {
    background-color: #ff1928;
}

.w-85 {
    width: 85%;
}

.offCode {
    height: 2rem;
    border: 1px solid rgb(219, 219, 219);
}

.bg-gold {
    background-color: #f6c522;
    font-weight: 700;
    font-size: 1.2rem;
    height: 2rem;
    border-radius: .2rem;
}

.buy {
    background-color: #9e0b16;
    color: #fafafa;
    border: none;
    width: 93%;
    height: 4rem;
    border-radius: .3rem;
    text-align: center;
    transition: all .2s;
}

.buy:hover {
    background-color: #db2818;
    transition: all .2s;
}

.alert {
    position: absolute;
    width: 2vw;
    min-width: 2rem;
    height: 2vh;
    background-color: #fafafa;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s ease-in-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.alerton {
    width: 20vw;
    min-width: 20rem;
    height: 20vh;
    opacity: 100;
    pointer-events: all;
    visibility: visible;
}

.btn-alert {
    position: relative;
    text-align: center;
    transform: translate(50%, 50%);
    right: 50%;
    top: 10%;
    margin-bottom: 10%;
}

.ok {
    border: none;
    border-radius: 1rem;
    width: 7rem;
    height: 3rem;
    transition: all .2s;
}

.ok:hover {
    background-color: #fafafa;
    border: 1px solid #9e0b16;
    color: #9e0b16;
    transition: all .2s;
}

.blur {
    filter: blur(5px) brightness(70%);
    pointer-events: none;
    transition: all .05s;
}

.footer {
    color: red;
    background-color: black;
}

@media(0px<width<1488px) {
    .container-fluid {
        display: block;
    }

    .section-right {
        margin: 2rem auto;
        margin-top: 0;
        height: 27rem;
    }

    .section-left {
        margin: auto auto;
    }
}

@media(0px<width<594px) {
    .buyingCard {
        min-width: auto;
    }

    .section-right {
        margin: 1rem auto;
        margin-top: 0;
        width: auto;
    }

    .section-left {
        margin: auto auto;
    }
}